* {
    font-family: 'Mulish', sans-serif;
}

main {
    margin: 135px 50px;
}

.btn-primary {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    border: none;
}

.header {
    margin: 135px 50px;
}

.text-gray {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}

/* Navbar CSS */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    padding: 10px;
}
.desh-travel {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
    text-wrap: nowrap;
}
.travel {
    color: #FF5400;
}

.left-side-nav{
    display: flex;
    gap: 16px;
}
.nav-right {
    display: flex;
    align-items: center;
}
.nav-img{
    text-align: center;
}

.nav-right ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-right ul li {
    display: inline-block;
}

.nav-right ul li a {
    display: block;
    font-size: 16px;
    color: black;
    text-decoration: none;
    padding: 10px;
}

#check {
    display: none;
}

.checkbtn {
    font-size: 30px;
    color: black;
    cursor: pointer;
    display: none;
}

.checkbtn i {
    padding: 5px;
}

#check:checked~.nav-right {
    display: block;
}

/* banner CSS */

.explore {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
    padding-top: 80px;
}

.banner {
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group13.png);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-btn {

    margin-top: 30px;
    margin-bottom: 20px;
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.3);
}

.banner-btn input,
select,
button {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    padding: 15px;
    border: 0;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}
/* popular Tours CSS */
.section {
    display: flex;
    gap: 100px;
    padding: 0 50px;
}

.mountain {
    width: 700px;
}

.mountain>ul>li {
    margin-top: 20px;
}

.tour {
    margin-top: 0;
}

.text-para {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* Your destination CSS */
.place-img {
    display: grid;
    text-align: center;
}

.choose {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}

.choose-des {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.box {
    background-size: cover;
    padding: 120px;
    border-radius: 8px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}

.row1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin-bottom: 25px;
}

.row2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-bottom: 25px;
}

.row3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

/* Why choose us section CSS */

.why-description {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.hotel-des {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 573px;
    height: 284px;
    padding: 30px;
}

.map-des {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    width: 573px;
    height: 284px;
    padding: 30px;
}

.price-des {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    width: 573px;
    height: 284px;
    margin: 0 294px;
    padding: 30px;
    margin-bottom: 30px;
}